.welcomeTitle{
    position: relative;
    text-align:center
}

.landingPhoto{
    width: 100%;
}

.welcomeTitle{
    color: rgb(31, 31, 31);
    height: 100px;
    width: 100px;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: 50%;
    margin-top: -50px;
}
